.App-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: 'Omnes', sans-serif;
  box-shadow: 0 2px 7px lightgray;
  margin-bottom: 150px;
}

#logo {
  margin-left: 20px;
  height: 50px;
  width: 50px;
}

#title {
  margin-right: 20px;
  /* font-style: italic; */
  font-weight: 600;
  color: #03c2e8;
}
