body {
  margin: 0;
}

#container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 20px;
  letter-spacing: 0.01em;
}

.flex {
  font-weight: 600;
  color: #202020;
}

.flex > input {
  display: flex;
  justify-content: center;
  text-align: end;
  max-width: 580px;
  overflow: hidden;
  resize: both;
  padding: 6px 10px;
  border-radius: 10px;
  border: 1px solid lightgray;
  box-shadow: 0 2px 5px lightgray;
}

.flex > input:hover,
.flex > input:focus {
  outline: none;
  border-color: #03c2e8;
  box-shadow: 0 2px 7px #03c2e8;
}

.flex-title {
  display: inline-block;
  float: left;
  width: 100px;
  margin-top: 0;
}

#first {
  padding-top: 5px;
}

.flex-unit {
  float: left;
  width: 200px;
}
